@model WebApplication2.Models.ViewModels.ProduitVM

<div class="container">
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="produit.Id" />

        <!-- Champ pour le nom -->
        <div class="mb-3">
            <label asp-for="produit.Name"></label>
            <input asp-for="produit.Name" class="form-control" />
            <span asp-validation-for="produit.Name" class="text-danger"></span>
        </div>

        <!-- Champ pour le code -->
        <div class="mb-3">
            <label asp-for="produit.Code"></label>
            <input asp-for="produit.Code" class="form-control" />
            <span asp-validation-for="produit.Code" class="text-danger"></span>
        </div>

        <!-- Champ pour le prix -->
        <div class="mb-3">
            <label asp-for="produit.PrixProduit"></label>
            <input asp-for="produit.PrixProduit" class="form-control" />
            <span asp-validation-for="produit.PrixProduit" class="text-danger"></span>
        </div>

        <!-- Champ pour la description -->
        <div class="mb-3">
            <label asp-for="produit.Description"></label>
            <textarea asp-for="produit.Description" class="form-control"></textarea>
            <span asp-validation-for="produit.Description" class="text-danger"></span>
        </div>

        <!-- Liste déroulante pour la catégorie -->
        <div class="mb-3">
            <label asp-for="produit.categorieId">Catégorie</label>
            <select asp-for="produit.categorieId" class="form-control" asp-items="Model.categorieListe"></select>
            <span asp-validation-for="produit.categorieId" class="text-danger"></span>
        </div>

       

        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <a asp-action="Index" class="btn btn-secondary">Annuler</a>
    </form>
</div>
<!-- Champ pour l'image -->
<div class="mb-3">
	<label asp-for="produit.imageURL">Image actuelle</label>
	<div>
		<img src="@Url.Content("~/" + Model.produit.imageURL)" alt="Image du produit" style="max-width: 150px; height: auto;" />
	</div>
	<label asp-for="produit.imageURL">Changer l'image</label>
	<input type="file" asp-for="produit.imageURL" class="form-control" />
	<span asp-validation-for="produit.imageURL" class="text-danger"></span>
</div>